Repository FrenkyDema/qrcode_barcode_scanner, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, example, android, workflows, lib

Refactoring
  .github/workflows/codeql.yml
  .github/workflows/flutter.yml
Labels: workflows

Pull Request Automerge
  .github/workflows/pull_request_automerge.yml
  .github/workflows/pull_request_rules.yml
Labels: workflows

Update LICENSE
  LICENSE
Labels: none

Delete LICENSE
  LICENSE
Labels: none

Create LICENSE
  LICENSE
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

Update description
  .idea/.gitignore
  pubspec.yaml
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update .gitignore
  .gitignore
  .pubignore
Labels: none

Update .gitignore
  .gitignore
  README.md
Labels: none

Update version
  example/pubspec.lock
  pubspec.yaml
Labels: example

Update license
  CHANGELOG.md
  pubspec.yaml
Labels: documentation

Fix first character bug
  example/android/build.gradle
  example/pubspec.lock
  lib/qrcode_barcode_scanner.dart
  pubspec.lock
Labels: example, lib

Revert "Bump plugin_platform_interface from 2.1.4 to 2.1.5"
  pubspec.lock
Labels: none

Update dependencies
  CHANGELOG.md
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: documentation, example

Version update
  lib/qrcode_barcode_scanner.dart
  pubspec.yaml
  test/qrcode_barcode_scanner_method_channel_test.dart
  test/qrcode_barcode_scanner_test.dart
Labels: test, lib

Refactoring
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
Labels: android

Update build.gradle
  android/build.gradle
Labels: android

Update build.gradle
  android/build.gradle
Labels: android

Update build.gradle
  android/build.gradle
Labels: android

Rewrite the plugin
  .metadata
  CHANGELOG.md
  LICENSE
  README.md
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/src/test/java/com/example/qrcode_barcode_scanner/QrcodeBarcodeScannerPluginTest.java
  example/analysis_options.yaml
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/profile/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/pubspec.lock
  example/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: documentation, example, android

Update LICENSE
  LICENSE
Labels: none

Update flutter.yml
  .github/workflows/flutter.yml
Labels: workflows

dart format
  example/test/widget_test.dart
  lib/qrcode_barcode_scanner_method_channel.dart
  lib/qrcode_barcode_scanner_platform_interface.dart
Labels: lib

version update
  CHANGELOG.md
  example/pubspec.lock
  pubspec.yaml
Labels: documentation, example

refactoring
  example/lib/main.dart
  example/pubspec.lock
  pubspec.lock
  pubspec.yaml
Labels: example

Update scanning methods
  example/lib/main.dart
  example/pubspec.lock
  lib/qrcode_barcode_scanner.dart
  pubspec.lock
Labels: example, lib

Refactoring
  .gitattributes
  .metadata
  CHANGELOG.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  example/.gitignore
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/integration_test/plugin_integration_test.dart
  example/pubspec.lock
  example/pubspec.yaml
  example/test/widget_test.dart
  pubspec.lock
  pubspec.yaml
  test/qrcode_barcode_scanner_method_channel_test.dart
  test/qrcode_barcode_scanner_test.dart
Labels: documentation, test, example, android

Update flutter.yml
  .github/workflows/flutter.yml
Labels: workflows

Fix handle space in scan value
  example/integration_test/plugin_integration_test.dart
  example/lib/main.dart
  example/test/widget_test.dart
  lib/qrcode_barcode_scanner.dart
  test/qrcode_barcode_scanner_method_channel_test.dart
Labels: test, lib

Version update
  CHANGELOG.md
  pubspec.yaml
Labels: documentation

Update labeler.yml
  .github/workflows/labeler.yml
Labels: workflows

Fix focus
  example/android/app/src/main/AndroidManifest.xml
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/settings.gradle
  example/lib/main.dart
  example/pubspec.lock
  example/pubspec.yaml
  lib/qrcode_barcode_scanner.dart
  pubspec.lock
  pubspec.yaml
Labels: example, lib

Update version
  CHANGELOG.md
  lib/qrcode_barcode_scanner.dart
  pubspec.yaml
Labels: documentation, lib

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Refactoring
  .github/workflows/flutter.yml
  .github/workflows/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request_automerge.yml
  README.md
  example/pubspec.lock
Labels: example, workflows

Update tests
  example/pubspec.lock
  lib/delayed_action_handler.dart
  lib/qrcode_barcode_scanner.dart
  lib/qrcode_barcode_scanner_method_channel.dart
  lib/qrcode_barcode_scanner_platform_interface.dart
  pubspec.lock
  test/qrcode_barcode_scanner_method_channel_test.dart
  test/qrcode_barcode_scanner_test.dart
Labels: test, example, lib

Update main.dart
  example/lib/main.dart
Labels: none

Update .gitignore
  .gitignore
Labels: none

.github/labeler.yml:

documentation:
  - .github/*
  - CHANGELOG.md

test:
  - test/*

example:
  - example/*

android:
  - android/*

workflows:
  - .github/workflows/*

lib:
  - lib/*
